<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Fragment>
		<!--My set of dialogs-->
		<UI Id ="MyWixUI_InstallDir">
			<UIRef Id="WixUI_InstallDir" />
			<UIRef Id="WixUI_ErrorProgressText" />

			<Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">1</Publish>
			<Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="3">1</Publish>
		</UI>
	</Fragment>
</Wix>