<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="37bbb369-18de-443a-b7f6-9b0b9962224b" Name="$(var.TargetName)" Language="1058" Version="1.0.0.0" Manufacturer="LNU" UpgradeCode="18318a80-3694-4ea7-949c-e4580f83e2a1" Codepage="1251">
		<Package Id="*" InstallerVersion="200" Compressed="yes" />

		<Media Id="1" Cabinet="media1.cab" EmbedCab="yes" />

		<Directory Id="TARGETDIR" Name="SourceDir">
			<!--Directories to which install-->
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLLOCATION" Name="$(var.TargetName)">
				</Directory>
			</Directory>
			<!--Shortcut directory-->
			<Directory Id="ProgramMenuFolder">
				<Directory Id="ApplicationProgramsFolder" Name="$(var.TargetName)"/>
			</Directory>
		</Directory>
		
		<!--Specifying shortcut and uninstalling them-->
		<DirectoryRef Id="ApplicationProgramsFolder">
			<Component Id="StartMenuShortcut" Guid="d37534fa-9102-488f-8c14-2a7b0acbace1">
				<Shortcut Id="ApplicationStartMenuShortcut"
                  Name="$(var.TargetName)"
									Target="[INSTALLLOCATION]\$(var.MainAppName)"
									WorkingDirectory="INSTALLLOCATION"/>
				<RemoveFolder Id="ApplicationProgramsFolder" On="uninstall"/>
				<RegistryKey Root="HKCU" Key="Software\Microsoft\$(var.TargetName)" Action="createAndRemoveOnUninstall">
					<RegistryValue Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
					<RegistryValue Name="InstallPath" Type="string" Value="[INSTALLLOCATION]"/>
				</RegistryKey>
			</Component>
		</DirectoryRef>

		<Feature Id="ProductFeature" Title="Course_Editor_Setup" Level="1">
      <ComponentRef Id="StartMenuShortcut"/>
			<ComponentGroupRef Id="IudicoFiles"/>
		</Feature>

		<Property Id="WIXUI_INSTALLDIR" Value="INSTALLLOCATION" />

		<!--UI-->
		<UIRef Id="MyWixUI_InstallDir"/>
	</Product>
</Wix>
