<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <connectionStrings>
    <add name="IUDICO-TEST" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IUDICO-TEST;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="SELENIUM_HOST" value="localhost" />
    <add key="SELENIUM_PORT" value="4444" />
    <add key="SELENIUM_BROWSER" value="Firefox" />
    <add key="SELENIUM_URL" value="http://localhost:1569/" />
    <add key="SELENIUM_SPEED" value="1000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
	 <add key="PathToIUDICO.UnitTests" value="C:\Users\Administrator\.hudson\jobs\IUDICO\workspace\" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebDriver" publicKeyToken="1c2bd1631853048f" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.11.0.0" newVersion="2.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>