<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FireFly.CourseEditor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FireFly.CourseEditor.Properties.Settings>
            <setting name="MainForm_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="MainForm_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CourseFileFilter" serializeAs="String">
                <value>FireFly course|*.zip</value>
            </setting>
            <setting name="Options_SaveRestoreWindowsState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Options_ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DeliveryControlsType_ToString" serializeAs="String">
                <value>Delivery Controls</value>
            </setting>
            <setting name="ObjectivesType_ToString" serializeAs="String">
                <value>Objectives</value>
            </setting>
            <setting name="RollupRuleType_ToString" serializeAs="String">
                <value>Rule</value>
            </setting>
            <setting name="RollupRuleTypeRollupConditionsRollupCondition_ToString"
                serializeAs="String">
                <value>Rollup Condition</value>
            </setting>
            <setting name="RollupRuleTypeRollupAction_ToString" serializeAs="String">
                <value>Rollup Action</value>
            </setting>
            <setting name="RollupRulesType_ToString" serializeAs="String">
                <value>Rollup Rules</value>
            </setting>
            <setting name="LimitConditionsType_ToString" serializeAs="String">
                <value>Limit Conditions</value>
            </setting>
            <setting name="PreConditionRuleType_ToString" serializeAs="String">
                <value>PreCondition Rule</value>
            </setting>
            <setting name="PreConditionRuleTypeRuleAction_ToString" serializeAs="String">
                <value>Rule Action</value>
            </setting>
            <setting name="PostConditionRuleType_ToString" serializeAs="String">
                <value>Post Condition Rule</value>
            </setting>
            <setting name="ExitConditionRuleType_ToString" serializeAs="String">
                <value>Exit Rule</value>
            </setting>
            <setting name="SequencingRulesType_ToString" serializeAs="String">
                <value>Sequencing rules</value>
            </setting>
            <setting name="OrganizationsType_ToString" serializeAs="String">
                <value>Organizations</value>
            </setting>
            <setting name="ResourcesType_ToString" serializeAs="String">
                <value>Resources</value>
            </setting>
            <setting name="MetadataType_ToString" serializeAs="String">
                <value>MetaData</value>
            </setting>
            <setting name="ExitConditionRuleTypeRuleAction_ToString" serializeAs="String">
                <value>Rule Action</value>
            </setting>
            <setting name="SequencingRuleTypeRuleConditions_ToString" serializeAs="String">
                <value>Conditions</value>
            </setting>
            <setting name="SequencingRuleTypeRuleConditionsRuleCondition_ToString"
                serializeAs="String">
                <value>Conditon</value>
            </setting>
            <setting name="RollupRuleTypeRollupConditions_ToString" serializeAs="String">
                <value>Conditions</value>
            </setting>
            <setting name="SequencingType_ToString" serializeAs="String">
                <value>Sequencing</value>
            </setting>
            <setting name="PresentationType_ToString" serializeAs="String">
                <value>Presentation</value>
            </setting>
            <setting name="RandomizationType_ToString" serializeAs="String">
                <value>Randomization</value>
            </setting>
            <setting name="SupportEMailAddress" serializeAs="String">
                <value>ffeditor@gmail.com</value>
            </setting>
            <setting name="Options_EnableLMSEmulation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ControlModeType_ToString" serializeAs="String">
                <value>Control Mode</value>
            </setting>
            <setting name="DefaultTheoryItemTitle" serializeAs="String">
                <value>New Theory</value>
            </setting>
            <setting name="DefaultQuestionItemTitle" serializeAs="String">
                <value>New Examination</value>
            </setting>
            <setting name="DefaultSummaryItemTitle" serializeAs="String">
                <value>Summary</value>
            </setting>
            <setting name="MainFormCaptionFormat" serializeAs="String">
                <value>{0} - FireFly Course Editor r6</value>
            </setting>
            <setting name="Options_PlainTextEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CourseDesigner_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MainForm_Location" serializeAs="String">
                <value>152, 190</value>
            </setting>
            <setting name="MainForm_Size" serializeAs="String">
                <value>748, 631</value>
            </setting>
            <setting name="DockingLayout" serializeAs="String">
                <value>&lt;?xml version="1.0" encoding="us-ascii"?&gt;
&lt;!--DockPanel configuration file. Author: Weifen Luo, all rights reserved.--&gt;
&lt;!--!!! AUTOMATICALLY GENERATED FILE. DO NOT MODIFY !!!--&gt;
&lt;DockPanel FormatVersion="1.0" DockLeftPortion="0.25" DockRightPortion="0.253420752565564" DockTopPortion="0.25" DockBottomPortion="0.25" ActiveDocumentPane="0" ActivePane="0"&gt;
  &lt;Contents Count="4"&gt;
    &lt;Content ID="0" PersistString="FireFly.CourseEditor.GUI.ManifestBrowser" AutoHidePortion="0.25" IsHidden="True" IsFloat="True" /&gt;
    &lt;Content ID="1" PersistString="FireFly.CourseEditor.GUI.PropertyEditor" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="2" PersistString="FireFly.CourseEditor.GUI.CourseExplorer" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
    &lt;Content ID="3" PersistString="FireFly.CourseEditor.GUI.CourseDesigner" AutoHidePortion="0.25" IsHidden="False" IsFloat="False" /&gt;
  &lt;/Contents&gt;
  &lt;Panes Count="3"&gt;
    &lt;Pane ID="0" DockState="Document" ActiveContent="3"&gt;
      &lt;Contents Count="3"&gt;
        &lt;Content ID="0" RefID="3" /&gt;
        &lt;Content ID="1" RefID="0" /&gt;
        &lt;Content ID="2" RefID="2" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="1" DockState="DockRight" ActiveContent="1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="1" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
    &lt;Pane ID="2" DockState="Float" ActiveContent="-1"&gt;
      &lt;Contents Count="1"&gt;
        &lt;Content ID="0" RefID="0" /&gt;
      &lt;/Contents&gt;
    &lt;/Pane&gt;
  &lt;/Panes&gt;
  &lt;DockWindows&gt;
    &lt;DockWindow ID="0" DockState="Document" ZOrderIndex="0"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="0" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="1" DockState="DockLeft" ZOrderIndex="2"&gt;
      &lt;NestedPanes Count="0" /&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="2" DockState="DockRight" ZOrderIndex="1"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="1" PrevPane="-1" Alignment="Bottom" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="3" DockState="DockTop" ZOrderIndex="3"&gt;
      &lt;NestedPanes Count="0" /&gt;
    &lt;/DockWindow&gt;
    &lt;DockWindow ID="4" DockState="DockBottom" ZOrderIndex="4"&gt;
      &lt;NestedPanes Count="0" /&gt;
    &lt;/DockWindow&gt;
  &lt;/DockWindows&gt;
  &lt;FloatWindows Count="1"&gt;
    &lt;FloatWindow ID="0" Bounds="320, 289, 300, 300" ZOrderIndex="0"&gt;
      &lt;NestedPanes Count="1"&gt;
        &lt;Pane ID="0" RefID="2" PrevPane="-1" Alignment="Right" Proportion="0.5" /&gt;
      &lt;/NestedPanes&gt;
    &lt;/FloatWindow&gt;
  &lt;/FloatWindows&gt;
&lt;/DockPanel&gt;</value>
            </setting>
            <setting name="ManifestBrowser_Location" serializeAs="String">
                <value>491, 2</value>
            </setting>
            <setting name="CourseExplorer_Location" serializeAs="String">
                <value>492, 350</value>
            </setting>
            <setting name="PropertyEditor_Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ManifestBrowser_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CourseExplorer_Visible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="PropertyEditor_Visible" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ManifestBrowser_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="CourseExplorer_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="PropertyEditor_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="ManifestBrowser_Size" serializeAs="String">
                <value>240, 346</value>
            </setting>
            <setting name="CourseExplorer_Size" serializeAs="String">
                <value>240, 187</value>
            </setting>
            <setting name="PropertyEditor_Size" serializeAs="String">
                <value>240, 370</value>
            </setting>
            <setting name="CourseDesigner_Location" serializeAs="String">
                <value>2, 2</value>
            </setting>
            <setting name="CourseDesigner_WindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="CourseDesigner_Size" serializeAs="String">
                <value>487, 534</value>
            </setting>
            <setting name="SaveRestoreWindowsState" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowToolBar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastCourses" serializeAs="String">
                <value />
            </setting>
        </FireFly.CourseEditor.Properties.Settings>
    </userSettings>
</configuration>