<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="IUDICO-TEST" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IUDICO-TEST;Integrated Security=True"/>
  </connectionStrings>
  <appSettings>
    <add key="SELENIUM_HOST" value="localhost" />
    <add key="SELENIUM_PORT" value="4444" />
    <add key="SELENIUM_BROWSER" value="Firefox" />
    <add key="SELENIUM_URL" value="http://localhost:1556/" />
    <add key="SELENIUM_SPEED" value="1000" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
</configuration>