<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

  <!-- TODO: Think about putting these 2 app settings somewhere else.-->
  <appSettings>
    <add key="learningComponentsConnnectionString" value="Server=.\SQLEXPRESS;Database=Training;Integrated Security=true"/>
    <add key="packageStoreDirectoryPath" value="c:\BasicWebPlayerPackages"/>
  </appSettings>

  <connectionStrings>
    <add name="ApplicationServices"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IUDICO_NEW;Integrated Security=True"
         providerName="System.Data.SqlClient" />
    <add name="IUDICOConnectionString"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=IUDICO_NEW;Integrated Security=True"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="/Account/Login/" defaultUrl="/Account/Index/" />
    </authentication>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <membership defaultProvider="IoCMembershipProvider">
      <providers>
        <clear/>
        <add name="IoCMembershipProvider" type="IUDICO.LMS.Models.Providers.IoCMembershipProvider" applicationName="IUDICO" />
      </providers>
    </membership>
    <roleManager defaultProvider="IoCRoleProvider" enabled="true">
      <providers>
        <clear />
        <add name="IoCRoleProvider" type="IUDICO.LMS.Models.Providers.IoCRoleProvider" applicationName="IUDICO" />
      </providers>
    </roleManager>
    <pages
      pageParserFilterType="System.Web.Mvc.ViewTypeParserFilter, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
      pageBaseType="System.Web.Mvc.ViewPage, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"
      userControlBaseType="System.Web.Mvc.ViewUserControl, System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="IUDICO.Common.Models" />
      </namespaces>
    </pages>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="bin;Plugins"/>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

